
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #0f172a;
  color: white;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  position: relative;
  
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  white-space: nowrap;
  user-select: none;    /* Prevents text selection */
  cursor: default;
}

.header .nav {
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-wrap: nowrap;
  margin-left: auto; 
  
}

.nav-link {
  color: white !important;
  text-decoration: none;
  font-size: 1.5rem;
  white-space: nowrap;
  transition: color 0.3s ease;
}

.hamburger {
  display: none; /* Hide by default */
  font-size: 2rem;
  position: absolute !important;
  top: 3px;
  right: 10px;
  background: none;
  z-index: 999;
  color: white;
  border: none;
  
  
}
.nav-link:hover {
  color: #66fcf1 !important;
}

/* Optional: Responsive tweaks */
@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
  .header .nav {
    display: none;
    left: 0.5px;
  }
  
  /* when .open is applied, show it */
  .header .nav.open {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* text-align: center; */
    gap: 3px;
    margin-top: 1rem;
    padding-left: 0% !important;
    margin-left: 0% !important;
    justify-content: start;
    align-items: flex-start;
    overflow-x: auto !important; 
  white-space: nowrap;
  flex-wrap: nowrap;
  scroll-padding-left: 0;
  -ms-overflow-style: none;     /* IE and Edge */
  scrollbar-width: none;   
  }
  /* show the hamburger */
  .hamburger {
    display: flex;

    
  
  }
  /* tighten up link spacing/font */
  .nav-link {
    font-size: 0.5rem;
  margin: 0;
    padding: 0;
  }
}