@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.about-section {
  

  color: white;
 
  padding: 4rem 2rem;
  font-family: 'Poppins',sans-serif;
  text-align: center;
  animation: fadeIn 1.5s ease-in-out;
  background-color:  #0f172a !important;
  width: 100% !important;  /* Changed to 100% to avoid potential viewport issues */
  
 
 
}

.section-color {
  
  margin-top: 10px;
  /* padding: 2rem 1rem; */
}

.about-header h1 {
  font-size: 2rem;
  font-weight: bold;
  border-bottom: 2px solid black;
  display: inline-block;
  
  
   
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 2.5rem;
  align-items: flex-start;
}
.about-image {
  
  display: flex;
  justify-content: flex-start;
}

.about-image img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
  margin: 0 auto;
}

.about-text {
  max-width: 700px;
  text-align: left;
}

/* Title in about */
.about-text h2 {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/* Paragraph styling */
.about-text p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 0.75rem;
}

/* Info section */
.about-info {
  margin-top: 1.5rem;
}

/* Details */
.about-info p {
  margin: 0.3rem 0;
}

/* Responsive */
@media (max-width: 768px) {
 
  .about-content {
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 2.5rem;
  align-items: flex-start;
  }
  .about-header h1{
    font-size: 1.5rem;
  }

  .about-text {
  
    max-width: 700px;
    text-align: left;
  }

  .about-info {
    
    margin-top: 1.5rem;
  }
  .about-info p {
    margin: 0.3rem 0;
  }
  .about-image {
    justify-content: center;
  }
}
