@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  
  .experience-section {
    animation: fadeIn 1.5s ease-in-out;
      padding: 4rem 2rem;
      background-color: #1f2833;
      color: white;
      background-image: url('/public/images/back1.png');
      background-size: cover;
      background-repeat: no-repeat;
      
    }
    
    .experience-item {
      margin-bottom: 30px;
      padding: 20px;
      border-left: 4px solid #45a29e; 
      background: #45a29e;
      border-radius: 8px;
      transition: transform 0.3s, box-shadow 0.3s ease;
      color: white;
      font-size: 25px;
    }
    
    .experience-item:hover {
      /* transform: translateY(-5px); */
      transform: scale(1.05);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    }
    
      
    
     h3 {
      margin:0;
    }
    
    p {
      margin: 5px 0;
    }
    h1{
      font-size: 3rem; /* Large size for main headings */
     font-weight: bold;
    }  
    .experience-item ul {
      margin-top: 10px;
      padding-left: 20px;
      line-height: 1.6;
      
    }
    
    .experience-item li {
      list-style-type: disc;
      color:white;
      margin-bottom: 8px;
    }
    