
  .typing-text {
    font-size: 1.2rem;
    color:white;
    font-weight: bold;
    font-size: 20px;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
    .hero {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding: 40px;
      flex-wrap: wrap; /* Allows stacking on smaller screens */
      /* background-color: #1f2833; */
      background-image: url('/public/images/back.png');
      animation: fadeIn 1.5s ease-in-out;
    min-height: 100vh;
      background-size: cover;
      background-repeat: no-repeat;
    }
    
    .hero h2 {
      font-size: 3rem;
      margin-bottom: 10px; /* Add spacing below heading */
    }
    
    .text-section {
      position: relative;
      z-index: 1; /* Ensure content stays on top of the background */
      color: white; /* Ensure text is readable on dark background */
      padding: 20px;
    }
    
   
   
    .hero-content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 40px;
      max-width: 1200px;
      width: 100%;
    }
  
    
    @keyframes blink {
      50% {
        border-color: transparent;
      }
    }
    
    .text-section h2 {
      font-size: 2rem;
      margin-bottom: 10px;
    }

    