
 @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
    .hero {
       display: flex;
      justify-content: center;
      align-items: flex-start;
      padding: 4rem 2rem;
      flex-wrap: wrap;  
       background-color: #334155 !important;
      animation: fadeIn 1.5s ease-in-out;
      min-height: 100vh;
      width: 100%; 
      font-family: 'Poppins', sans-serif;
      
    }
    
    
    .text-section h2 {
      font-size: 3rem;
      margin-bottom: 10px;  
      user-select: none;    /* Prevents text selection */
  cursor: default;
      
    }
    .text-section p {
      font-size: 2rem;
      user-select: none;    /* Prevents text selection */
      cursor: default;
      
      
    }
    
    .text-section {
      position: relative;
      z-index: 1; 
      color: white; 
      padding: 20px;
      align-items: center;
      
      
    }
    
   
   
    .hero-content {
      display: flex;
      /* flex-direction: row;   */
  
      flex-wrap: wrap;
      gap: 40px;
      margin-top: 0.1rem;
      
      
    }
  
    
    @keyframes blink {
      50% {
        border-color: transparent;
      }
    }
 
    .text-section p {
      font-size: 2rem;
    
      
   
    }
    @media (max-width: 600px) {
      .text-section p {
        font-size: 1.4rem;
      
        
     
      }
      .text-section h2 {
        font-size: 2rem;
        margin-bottom: 10px;  
        
        
      }
      .hero {
          justify-content: space-between;
      }
  
      .hero-content {
         text-align: left;
        margin-top: 0.1rem;}}

    